@model SoftwareSellApp.Models.Product
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Product</h1>
<h4>Product</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProduct" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="productName" class="control-label"></label>
                <input asp-for="productName" class="form-control" />
                <span asp-validation-for="productName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="images" class="control-label"></label>
                <input asp-for="images" class="form-control" type="file" accept="image/*" />
                <span asp-validation-for="images" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" type="number" step="0.01" min="0" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="introduce" class="control-label"></label>
                <textarea asp-for="introduce" class="form-control" rows="4"></textarea>
                <span asp-validation-for="introduce" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-items="ViewBag.Categories"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}