@model IEnumerable<SoftwareSellApp.Models.Order>

@{
    ViewData["Title"] = "ViewOrderHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order History</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DayBought)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DayBought)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
        </tr>
}
    </tbody>
</table>
